<div class="rsvp_filter">

    <div class="rsvp_filter_outer">
        <div class="rsvp_filter_outer2">
            <div class="rsvp_filter_outer3">
                <div class="rsvp_filter_title">מה מעניין אותך?
                    <a (click)="toggleclearFilter()" id="rsvp_toggle_clear" class="rsvp_clear_filter_toggle rsvp_clear" data-clear="נקה הכל">{{clearFilterTextGet()}}</a>
                </div>

                <div style="clear:both;"></div>
                <div class="rsvp_filter_list">
                    <form id="rsvpselectForm">
                        <ul class="rsvp_filter_ul">
                            <filter-service-item *ngFor="let item of _items" [item]='item' (itemChecked)="clickCheckbox($event)"></filter-service-item>
                            <li style="clear:both;"></li>
                        </ul>

                    </form>
                    <div style="clear:both;"></div>
                </div>
                <div class="rsvp_update_feed_prom_outer">
                    <a class="rsvp_update_feed_prom" [ngStyle]="_updateButtonStyle" (click)='Redirect()'>
				עדכן פיד מותאם אישית
				</a>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
    </div>

</div>
<!--  filter start  -->