<ul class="rsvp_feed_listing">
    <li>
        <a [routerLink]="['/article', item?.DestArticleID]">
            <div class="rsvp_play_wrapper">
                <img [src]="loadingUrl" [alt]="item?.MediaStockImageAlt" (load)="imageLoaded()" />
                <div class="rsvp_icon_play_outer" *ngIf="item?.VideoID > 0">
                    <div class="rsvp_icon_play"></div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="rsvp_feed_cat_color rsvp_cat4" [style.background-color]='item?.StripeColor'></div>
            <div class="rsvp_feed_item_title oedooprom">{{item?.Title}}</div>
        </a>
    </li>

</ul>