.thumbnails-b .trc_rbox_header {
  width: 95% !important;
}

.paragraphContentWraper a * {
  color: blue;
  text-decoration: underline;
}

.mainHeadlineClass {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0) 50%, rgba(26, 26, 26, 0.7) 90%, rgba(26, 26, 26, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0) 50%, rgba(26, 26, 26, 0.7) 90%, rgba(26, 26, 26, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0) 50%, rgba(26, 26, 26, 0.7) 90%, rgba(26, 26, 26, 0.7) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001a1a1a', endColorstr='#b31a1a1a', GradientType=0);
}

.load-image-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 200, opacity 200 linear;
}

.load-image-show {
  visibility: visible;
  opacity: 1;
  display: block;
  transition: visibility 0s 200, opacity 200 linear;
}

#filter-confirmation-wrapper {
  vertical-align: top;
  position: absolute;
  border: 1px solid #d8d8d8;
  background-color: #ebebeb;
  width: calc(100% - 20px);
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-confirmation-upperText {
  font-family: 'OEDooPro-Medium';
  font-size: 16px;
  line-height: 18px;
  color: #ff2929;
  margin-top: 36px;
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-confirmation-icon {
  background-image: url('../icons/filter-pictogram.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-size: contain;
  width: 100px;
  height: 100px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

.filter-confirmation-lowerText {
  font-family: 'OEDooPro-Medium';
  font-size: 16px;
  line-height: 18px;
  color: #ff2929;
  margin-top: 36px;
  width: 240px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-confirmation-button {
  font-family: 'OEDooPro-Bold';
  font-size: 12px;
  color: #ff2929;
  width: 100px;
  height: 30px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  border: 1px;
  border-color: #ff2929;
  border-style: solid;
  line-height: normal;
  padding-top: 5px;
}

#pre-filter-message-wrapper {
  vertical-align: top;
  position: absolute;
  border: 1px solid #d8d8d8;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1001;  /*bigger then twitter*/
}

.pre-filter-message-upperText {
  font-family: 'OEDooPro-Medium';
  font-size: 16px;
  line-height: 18px;
  color: #d8d8d8;
  margin-top: 36px;
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pre-filter-message-icon {
  background-image: url('../icons/pre-filter-pictog.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-size: contain;
  width: 213px;
  height: 143px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

.pre-filter-message-button {
  font-family: 'OEDooPro-Bold';
  font-size: 12px;
  color: #d8d8d8;
  width: 100px;
  height: 30px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  border: 1px;
  border-color: #d8d8d8;
  border-style: solid;
  line-height: normal;
  padding-top: 5px;
}
