<div id="articleList"></div>
<filter-tooltip *ngIf="showTooltip"></filter-tooltip>
<div style="clear:both;"></div>
<a class="rsvp_feed_filter_prom" (click)='toggleFilter()'>
  <img src="assets/icons/filtericon.png" alt="filter" />
  <span>ערוך את ערוצי התוכן</span>
  <span class="rsvp_filter_left">עריכה</span>
</a>
<div *ngFor="let item of items; let i=index;">
  <headline-small [item]='item.Headline'></headline-small>
  <dynamic-dfp-component *ngIf="!isInArticle" [componentData]="inArticleData"></dynamic-dfp-component>
</div>
